
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background: linear-gradient(135deg,#1abc9c,#2ecc71);
    overflow:hidden;
}

@keyframes zoom{
    from{ transform:scale(1); }
    to{ transform:scale(1.1); }
}